{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link href="/static/assets/css/style.css" rel="stylesheet" />{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-lg-4">
            <div class="card-graf">
              <div class="card-body" style="text-align: center;">
                <label>Producción</label>
                <canvas id="chartCamadaCosechado"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-graf">
              <div class="card-body " style="text-align: center;">
                <label>Rendimiento Anual</label>
                <canvas id="myChart2"></canvas>
              </div>
            </div>
          </div>    
          <div class="col-lg-4">
            <div class="card-graf">
              <div class="card-body" style="text-align: center;">
                <label>Desempeño Proveedor</label>
                <canvas id="chartCuelgaProovedor"></canvas>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <div class="card-graf3"></div>
              <div class="card-header">
                <label for="">Tareas</label>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-12">
            <div class="card-graf3"></div>
              <div class="card-graf card-body">
                <div class="card-body">
                  <canvas id="myChart3"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

var ctx = document.getElementById('chartCamadaCosechado').getContext('2d');
var myChart = new Chart(ctx, {
  type : "line",
  data : {
    labels : {{ l | safe }},
    datasets : [
      {
        label : "Cosechado por Camadas",
        data : {{ v | safe }},
        fill : false,
        backgroundColor: [
        'rgba(0,0,255,0.6)',,
        'rgb(148, 17, 0)',
        'rgb(148, 17, 0)'
    ],
        borderColor: [
        'rgba(0,0,255,0.6)',
        'rgb(255, 159, 64)',
        'rgba(0,0,255,0.6)',
    ],
        borderWidth: 1,
        borderColor: "rgb(75, 179, 192)",
        lineTension: 0.1
      }
    ]
  },
  option: {
    responsive: false
  }
});


    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


var ctx = document.getElementById('chartCuelgaProovedor').getContext('2d');
var myChart = new Chart(ctx, {
  type : "bar",
  data : {
    labels : {{ labels | safe }},
    datasets : [
      {
        label : "Cuelgas por Proveedor",
        data : {{ values | safe }},
        fill : false,
        backgroundColor: [
        'rgba(0,0,255,1)',
        'rgba(255,0,0,0.6)'
    ],
        borderColor: [
        'rgba(0,0,255,0.6)',
        'rgb(255, 159, 64)',
    ],
        borderWidth: 1,
        borderColor: "rgb(75, 179, 192)",
        lineTension: 0.1
      }
    ]
  },
  option: {
    responsive: false
  }
});


    // var ctx = document.getElementById('myChart3').getContext('2d');
    // var myChart = new Chart(ctx, {
    //     type: 'bar',
    //     data: {
    //         labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    //         datasets: [{
    //             label: '# of Votes',
    //             data: [12, 19, 3, 5, 2, 3],
    //             backgroundColor: [
    //                 'rgba(255, 99, 132, 0.2)',
    //                 'rgba(54, 162, 235, 0.2)',
    //                 'rgba(255, 206, 86, 0.2)',
    //                 'rgba(75, 192, 192, 0.2)',
    //                 'rgba(153, 102, 255, 0.2)',
    //                 'rgba(255, 159, 64, 0.2)'
    //             ],
    //             borderColor: [
    //                 'rgba(255, 99, 132, 1)',
    //                 'rgba(54, 162, 235, 1)',
    //                 'rgba(255, 206, 86, 1)',
    //                 'rgba(75, 192, 192, 1)',
    //                 'rgba(153, 102, 255, 1)',
    //                 'rgba(255, 159, 64, 1)'
    //             ],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             y: {
    //                 beginAtZero: true
    //             }
    //         }
    //     }
    // });


  </script>
{% endblock javascripts %}
